.user-info {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .user-avatar {
    display: block;
    margin: 0 auto;
  }
  
  .availability-dot {
    position: absolute;
    bottom: -1px; /* Position the dot just below the image */
    left: 50%;
    transform: translateX(-5%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey; /* Default color for unavailable */
  }
  
  .available {
    background-color: green; /* Green dot for available */
  }
  
  .unavailable {
    background-color: grey; /* Grey dot for unavailable */
  }
  